@model Ekipa.Models.ViewModel.Company.CompanyTermsVM

@{
	ViewBag.Title = "CompanyTerm";
	int counter = 0;
	Ekipa.Models.ViewModel.Company.CompanyTermVM createTerm = new Ekipa.Models.ViewModel.Company.CompanyTermVM();

}
<div class=" row">

	<div class="col-md-2">
		<h2>Terminy</h2>
	</div>
	<div class="col-md-2">
		<div class="color-red text-center white "> Zarezerwowane</div>
	</div>
	<div class="col-md-2">
		<div class="color-yellow text-center white "> Do akceptacji</div>
	</div>
	<div class="col-md-2">
		<div class="color-green text-center white "> Wolne terminy</div>
	</div>
	<a href="~/Reservation/MyReservation" class="yellow" >Wszystkie rezerwacje</a>
</div>
<hr />

@if (ViewBag.NoTerm == true)
{
	<div>Nie dodałeś jeszcze żadnych terminów </div>
}
else
{
	<div class="row">

		@for (int i = 0; i < Model.CompanyTermsList.Count(); i++)
		{
			if (counter != 0 && counter % 6 == 0)
			{
				@:</div>
			<hr />
			@:<div class="row">
			}
			if (Model.CompanyTermsList[i].Actual)
			{
				<div class="col-md-2">

					@if (Model.CompanyTermsList[i].CustomerID != null)
					{
						if (Model.CompanyTermsList[i].Accepted == true)
						{
					<div class="color-red term text-center white">
						@Html.DisplayFor(model => model.CompanyTermsList[i].Start) -
						@Html.DisplayFor(model => model.CompanyTermsList[i].Stop)
						<a class="white" href='@Url.Action("CompanyReservation", "Reservation", new RouteValueDictionary(  new { id = Model.CompanyTermsList[i].ID}), null)'>
							 Zobacz
						</a>
					</div>
						}
						else
						{
					<div class="color-yellow term text-center white">
						@Html.DisplayFor(model => model.CompanyTermsList[i].Start) -
						@Html.DisplayFor(model => model.CompanyTermsList[i].Stop)
						<a class="white" href='@Url.Action("CompanyReservation", "Reservation", new RouteValueDictionary(  new { id = Model.CompanyTermsList[i].ID}), null)'>
							Zaakceptuj
						</a>
					</div>
						}
					}
					else
					{
					<div class="color-green term text-center white">
						@Html.DisplayFor(model => model.CompanyTermsList[i].Start) -
						@Html.DisplayFor(model => model.CompanyTermsList[i].Stop)
						<a class="white" href='@Url.Action("DeleteTerm", "Company", new RouteValueDictionary(  new { id = Model.CompanyTermsList[i].ID}), null)'>
							Usuń
						</a>
					</div>
					}
				</div>
			}
			counter++;
		}
	</div>
	<hr />
	@Html.Partial("~/Views/Term/_TermCreate.cshtml", createTerm)
}


<style>

	.term {
		border-radius: 6px;
		padding: 4px;
		box-sizing: border-box;
		width:90%;
	}
</style>
