@using Ekipa.Models.ViewModel
@using Ekipa.Models.DB
@model Ekipa.Models.ViewModel.Company.CompanyTagsVM
@{
	ViewBag.Title = "TagsList";
}
<h3>Zarządzaj etykietami, aby ułatwić klientom wyszukanie Twojej firny</h3>
<hr />



@using (Html.BeginForm("AddCompanyTag", "Tag", FormMethod.Post))
{
	<div class="navbar navbar-expand-lg navbar-dark">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<h4>Wybierz nową</h4>
			<div class="search-box">
				@Html.DropDownListFor(x => x.SelectedTagId, Model.OtherTags, htmlAttributes: new { @class = "form-control" })
			</div>
			<button class="search-button btn my-2 my-sm-0" type="submit">Dodaj</button>
			<div class="search-box">@Html.ActionLink("Utórz nową etykietę", "CreateTag")</div>
		</div>
	</div>
}
<hr />

<div>
	<h4>Twoje etykiety</h4>
	<dl class="dl-horizontal"></dl>
</div>

<div class="row text-center">

	@for (int i = 0; i < Model.CompanyTags.Count(); i++)
	{
		if (i % 2 == 0)
		{
			<div class="color-yellow tag-box">
				@Html.Partial("~/Views/Partial/_TagDelete.cshtml", Model.CompanyTags[i])
			</div>


		}
		else if (i == 3 || i == 7 || i == 9)
		{
			<div class="color-red tag-box">
				@Html.Partial("~/Views/Partial/_TagDelete.cshtml", Model.CompanyTags[i])
			</div>

		}
		else
		{
			<div class="color-green tag-box">
				@Html.Partial("~/Views/Partial/_TagDelete.cshtml", Model.CompanyTags[i])
			</div>

		}
	}

</div>
