@using Ekipa.Models.ViewModel
@using Ekipa.Models.DB
@model Ekipa.Models.ViewModel.Company.CompanyTagsVM
@{
	ViewBag.Title = "TagsList";
	Ekipa.Models.ViewModel.TagVM createTag = new Ekipa.Models.ViewModel.TagVM();

}

@if (null != TempData["alertMessage"])
{
	<script type="text/javascript">
			   alert("@TempData["alertMessage"]");
	</script>
}
<h3>
	Zarządzaj etykietami, aby ułatwić klientom wyszukanie Twojej firny

</h3>
<hr />

<div class="row">
	<div class="col-md-6">
		@Html.Partial("~/Views/Tag/_AddCompanyTag.cshtml", Model)
	</div>
	<div class="col-md-6">

		@Html.Partial("~/Views/Tag/_createTag.cshtml", createTag)
	</div>
</div>
<hr />

<div>
	<h4>Twoje etykiety</h4>
	<dl class="dl-horizontal"></dl>
</div>

<div class="row text-center">

	@for (int i = 0; i < Model.CompanyTags.Count(); i++)
	{
		if (i % 2 == 0)
		{
			<div class="color-yellow tag-box">
				@Html.Partial("~/Views/Partial/_TagDelete.cshtml", Model.CompanyTags[i])
			</div>


		}
		else if (i == 3 || i == 7 || i == 9)
		{
			<div class="color-red tag-box">
				@Html.Partial("~/Views/Partial/_TagDelete.cshtml", Model.CompanyTags[i])
			</div>

		}
		else
		{
			<div class="color-green tag-box">
				@Html.Partial("~/Views/Partial/_TagDelete.cshtml", Model.CompanyTags[i])
			</div>

		}
	}

</div>
