@model Ekipa.Models.ViewModel.ReservationVM

@{
	ViewBag.Title = "CompanyReservation";
}

<h1>
	Rezerwacja:
	<a class="term">@Model.DateStart - @Model.DateStop</a>
	<a class="acc">Zaakceptuj @Html.EditorFor(model => model.CompanyAccept)</a>
</h1>
<h4>
	@Model.CustomerName <a class="mess">(Tel: @Model.CustomerNumber)</a>
</h4>	
<div>
	<a class="color-green white mess" href='@Url.Action("MessageFromCompany", "Message", new RouteValueDictionary(  new { idCustomer = Model.CustomerId}))'>
		Wyślij e-mail
	</a>
</div>
<hr />

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)


	<h5>Wiadomość od @Model.CustomerName:</h5>
	<div class="DescriptionCustomer">@Html.DisplayFor(model => model.DescriptionCustomer)</div>

	<h5>Twoja odpowiedź:</h5>
	@Html.TextAreaFor(m => m.DescriptionCompany, new { @class = "form-control", @cols = "20" })
	@Html.ValidationMessageFor(model => model.DescriptionCompany, "", new { @class = "text-danger" })


	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button class="search-button btn my-2 my-sm-0" type="submit">Zapisz</button>
		</div>
	</div>
}

@using (Html.BeginForm("CancelReservation", "Reservation", FormMethod.Get))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.TermId)

	<div class="form-group">
		<a class="col-md-offset-2 col-md-10">
			<button class="search-button btn my-2 my-sm-0" type="submit">Anuluj rezerwację</button>
		</a>
	</div>
}

<style>

	#DescriptionCompany {
		min-height: 200px;
		max-height: 200px;
		min-width: 100%;
		max-width: 100%;
		outline: none;
		font-family: Georgia;
		font-size: 18px;
		margin-bottom:10px;
	}

	.DescriptionCustomer {
		min-height: 50px;
		min-width: 100%;
		max-width: 100%;
		outline: none;
		font-family: Georgia;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.term {
		margin-left: 10px;
		font-size: 30px;
	}
	.acc {
		margin-left: 20px;
		font-size: 22px;
	}
	.mess {
		padding: 10px;
		font-size: 16px;
	}

</style>
