@model IList<Ekipa.Models.ViewModel.ReservationVM>

@{
    ViewBag.Title = "MyReservation";
}

<h2>MyReservation</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


	@foreach (var item in Model)
	{
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => item.DescriptionCustomer)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.DescriptionCustomer)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.DescriptionCompany)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.DescriptionCompany)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.CompanyAccept)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.CompanyAccept)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.TermId)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.TermId)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.CustomerId)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.CustomerId)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.CustomerName)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.CustomerName)
			</dd>

			<dt>o
				@Html.DisplayNameFor(model => item.CompanyId)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.CompanyId)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.CompanyName)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.CompanyName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.DateFrom)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.DateFrom)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => item.DateTo)
			</dt>

			<dd>
				@Html.DisplayFor(model => item.DateTo)
			</dd>

		</dl>
	}

</table>
