@model Ekipa.Models.ViewModel.Company.CompanyDetailsVM
@{
	Ekipa.Models.ViewModel.MainViewVM mainViewVM = new Ekipa.Models.ViewModel.MainViewVM();


	ViewBag.Title = "CompanyDetails";
	@Html.Partial("~/Views/Partial/_MainView.cshtml", mainViewVM);

}
<h2>Informacje o Twojej firmie</h2>
<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Speciality)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Speciality)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Services)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Services)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Pricing)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Pricing)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CityName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.CityName)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Edytuj", "EditCompanyDetails", new { /* id = Model.PrimaryKey */ }) |
</p>
