@model Ekipa.Models.ViewModel.Company.BasicCompanyInfoVM

@using (Html.BeginForm("InfoAboutCompany", "PublicCompany", FormMethod.Post))
{
<div>
	<h4>BasicCompanyInfoVM</h4>
	<hr />

	<dl class="dl-horizontal">

		<dt>
			@Html.DisplayNameFor(model => model.IdCompany)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IdCompany)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CityName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CityName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.CompanyName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CompanyName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Speciality)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Speciality)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Services)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Services)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.AverageRating)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AverageRating)
		</dd>

	</dl>
</div>
<button class="search-button btn my-2 my-sm-0" type="submit">Szukaj</button>
}
