@model Ekipa.Models.ViewModel.MainViewVM
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href='@Url.Action("ZnajdźEkipę", "Home/index",FormMethod.Get)'>
					<img class="img-responsive" src='@Url.Content("~/Content/images/ikon.png")' />
				</a>

				<div class="row navbar-collapse collapse">
					@using (Html.BeginForm("MainView", "Home", FormMethod.Post))
					{
						<div class="offset1 col-lg-5 col-md-5 col-12">
							<div class="row">
								<div class="d-inline-block col-lg-6">@Html.EditorFor(m => m.NameSearch, "", new { htmlAttributes = new { @class = "form-control", placeholder = "Szukaj" } })</div>
								<div class="d-inline-block col-lg-6">@Html.DropDownListFor(x => x.PlaceSearch, Model.Miasta, htmlAttributes: new { @class = "form-control" })</div>
								<input type="image" name="submit" src="~/Content/images/icons8-szukaj-50.png" />
							</div>
						</div>
					}
					<div class="col-lg-6 col-md-6 col-12">
						<ul class="nav navbar-nav">
							@if (ViewBag.UserName == null)
							{
								<li> @Html.ActionLink("Logowanie klient", "LoginCustomer", "Account")</li>
								<li> @Html.ActionLink("Logowanie firma", "LoginCompany", "Account")</li>
							}
							else
							{
								<li>@ViewBag.UserName</li>
								<li> @Html.ActionLink("Moje konto", "IndexCompany", "Account")</li>
								<li> @Html.ActionLink("Wyloguj", "Logout", "Account")</li>
							}
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
