@model Ekipa.Models.ViewModel.MainViewVM

@using (Html.BeginForm("SearchView", "PublicCompany", FormMethod.Post))
{
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand mr-sm-auto" href="@Url.Action("ZnajdźEkipę", "Home/index", FormMethod.Get)">
			<img class=" responsive ikon" src='@Url.Content("~/Content/images/ikonZE.png")' />
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="search-box">@Html.EditorFor(m => m.NameSearch, "", new { htmlAttributes = new { @class = "form-control select ", placeholder = "Szukaj" } })</div>
			<div class="choose-box">@Html.DropDownListFor(x => x.PlaceSearch, Model.CitiesDB, htmlAttributes: new { @class = "form-control input" })</div>
			<button class="search-button btn my-2 my-sm-0" type="submit">Szukaj</button>
		</div>

		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">

				@if (ViewBag.UserRole == 3)
				{
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						@ViewBag.UserName
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="~/Reservation/MyReservation">Moje rezerwacje</a>
						<a class="dropdown-item" href="~/Account/EditCustomer">Moje konto</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="~/Account/NewPassword">Zmień hasło</a>
						<a class="dropdown-item" href="~/Account/Logout">Wyloguj</a>
					</div>
				}
				else if (ViewBag.UserRole == 4)
				{
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						@ViewBag.UserName
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="~/Term/CompanyTermList">Terminy i rezerwacje</a>
						<a class="dropdown-item" href="~/Image/CompanyImagesList">Zarządzaj zdjęciami</a>
						<a class="dropdown-item" href="~/Company/CompanyDetails">Informacje o firmie</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="~/Account/EditCompany">Moje konto</a>
						<a class="dropdown-item" href="~/Account/NewPassword">Zmień hasło</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="~/Account/Logout">Wyloguj</a>
					</div>
				}
				else if (Model.UserRole == 5)
				{
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						@ViewBag.UserName
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="~/Home/OpinionAcceptList">Akceptacja opini</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="~/Account/Logout">Wyloguj</a>
					</div>
				}
				else
				{
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Zaloguj
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

						<a class="dropdown-item" href="~/Account/LoginCustomer">Logowanie </a>
						<a class="dropdown-item" href="~/Account/LoginCompany">Logowanie firma </a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="~/Account/RegisterCustomer">Zarejestruj</a>
						<a class="dropdown-item" href="~/Account/RegisterCompany">Zarejestruj firmę</a>
					</div>
				}
			</li>
		</ul>

	</nav>
	if (ViewBag.Home != 1)
	{
		<div class="p-3"></div>
	}

}