@model Ekipa.Models.ViewModel.Company.CompanyInfoVM
@{
	ViewBag.Title = "InfoAboutCompany";
	
}
<h2>@Html.DisplayFor(model => model.CompanyName)</h2>
<di>
	<h4> @Html.DisplayFor(model => model.CityName)</h4>
	<h8> Tel: @Html.DisplayFor(model => model.PhoneNumer)</h8>
	<hr />

	<div class="row">
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)
		<div class="row text-center">
			@for (int i = 0; i < Model.CompanyTagList.Count(); i++)
			{
				if (i % 2 == 0)
				{
					<div class="color-yellow tag-box">
						@Html.DisplayFor(m => m.CompanyTagList[i].Name)
					</div>
				}
				else if (i == 3 || i == 7 || i == 9)
				{
					<div class="color-red tag-box">
						@Html.DisplayFor(m => m.CompanyTagList[i].Name)
					</div>
				}
				else
				{
					<div class="color-green tag-box">
						@Html.DisplayFor(m => m.CompanyTagList[i].Name)
					</div>
				}
			}
		</div>
		<div class="row row-margin">
			@Html.Partial("~/Views/Partial/_Slider.cshtml", Model.CompanyImageList)
		</div>

		<h6>Wolne terminy</h6>
		<div class="row row-margin">
			@Html.Partial("~/Views/Partial/_TermReservation.cshtml", Model.CompanyTerms)
		</div>


	<p>
		Specjalność: @Html.DisplayFor(model => model.Speciality)
	</p>

	<p>
		Zakres usług: @Html.DisplayFor(model => model.Services)
	</p>
	<p>
		Wyceny:  @Html.DisplayFor(model => model.Pricing)
	</p>
	</div>

	<style>

		.row-margin {
			margin-top: 20px;
		}

		.tag-box {
			border-radius: 6px;
			padding: 4px;
			box-sizing: border-box;
			margin: 0 10px;
		}
	</style>

