@model Ekipa.Models.ViewModel.Company.CompanyInfoVM
@{
	ViewBag.Title = "InfoAboutCompany";

}

@if (null != TempData["alertMessage"])
{
	<script type="text/javascript">
			   alert("@TempData["alertMessage"]");
	</script>
}


<div class="row text-center" style="margin: 20px 0 40px;">
	@if (Model.TagExist)
	{
		for (int i = 0; i < Model.CompanyTagList.Count(); i++)
		{
			if (i % 2 == 0)
			{
				<div class="color-yellow tag-box">
					@Html.DisplayFor(m => m.CompanyTagList[i].Name)
				</div>
			}
			else if (i == 3 || i == 7 || i == 9)
			{
				<div class="color-red tag-box">
					@Html.DisplayFor(m => m.CompanyTagList[i].Name)
				</div>
			}
			else
			{
				<div class="color-green tag-box">
					@Html.DisplayFor(m => m.CompanyTagList[i].Name)
				</div>
			}
		}
	}

</div>

<h3>
	@Html.DisplayFor(model => model.CompanyName)
	<a class="stars">
		@for (int i = 0; i < Model.AverageRating; i++)
		{
			<span class="fa fa-star checked"></span>
		}
		@for (int i = 0; i < (5 - Model.AverageRating); i++)
		{
			<span class="fa fa-star"></span>
		}
		@Model.AverageRating/5

	</a>
</h3>
<h2>
	@Html.DisplayFor(model => model.CityName)
	<a class="color-green white tag-box" href='@Url.Action("MessageFromCustomer", "Message", new RouteValueDictionary(new { idCompany = Model.IdCompany }))'>
		Wyślij wiadomość
	</a>
</h2>
<h4>
	Tel: @Html.DisplayFor(model => model.PhoneNumer)
</h4>
<hr class="line" />

<h4>Wolne terminy</h4>
@Html.Partial("~/Views/Partial/_TermReservation.cshtml", Model.CompanyTermVMList)

<hr class="line" />

<div class="row">
	<div class="col-md-4">
		<h4>Specjalność</h4>
		<div class="descript">
		@if (Model.Speciality != null)
		{
		 @Html.Raw(Model.Speciality.Replace("\r\n", "<br />"))
		}
		</div>
	</div>
	<div class="col-md-4">
		<h4>Zakres usług</h4>
		<div class="descript">
		@if (Model.Services != null)
		{
		 @Html.Raw(Model.Services.Replace("\r\n", "<br />"))
		}		
		</div>
	</div>
	<div class="col-md-4">
		<h4>Wyceny</h4>
		@if (Model.Pricing != null)
		{
		 @Html.Raw(Model.Pricing.Replace("\r\n", "<br />"))
		}
	</div>
</div>
<hr class="line" />

	@Html.Partial("~/Views/Partial/_Slider.cshtml", Model.CompanyImageList)

<h4>Ocena kientów</h4>

<a class="stars">
	Ogólna ocena:
	@for (int i = 0; i < Model.AverageRating; i++)
	{
		<span class="fa fa-star checked"></span>
	}
	@for (int i = 0; i < (5 - Model.AverageRating); i++)
	{
		<span class="fa fa-star"></span>
	}
	@Model.AverageRating/5

</a>
<hr class="line" />

@if (Model.CompanyOpinionList.Count() == 0)
{
	<div>Brak opini</div>
}

@for (int i = 0; i < Model.CompanyOpinionList.Count(); i++)
{
	<div class="row row-margin">
		@Html.Partial("~/Views/Partial/_Opinion.cshtml", Model.CompanyOpinionList[i])
	</div>
}


<style>
	h4 {
		text-transform: uppercase;
		font-size: 30px;
	}

	h3 {
		font-size: 40px;
	}

	.stars {
		font-size: 20px;
	}


	.line {
		margin: 30px 0px;
	}

	.row-margin {
		margin-top: 20px;
	}

	.tag-box {
		border-radius: 6px;
		padding: 4px;
		box-sizing: border-box;
		margin: 0 10px;
		padding: 10px 20px;
	}
	.multiline {
		padding: 20px;
		white-space: pre-wrap;
	}
</style>

