@model Ekipa.Models.ViewModel.Company.CompanyInfoVM
@{
	ViewBag.Title = "InfoAboutCompany";

}

@if (null != TempData["alertMessage"])
{
	<script type="text/javascript">
			   alert("@TempData["alertMessage"]");
	</script>
}


<div class="row text-center">
	@if (Model.TagExist)
	{
		for (int i = 0; i < Model.CompanyTagList.Count(); i++)
		{
			if (i % 2 == 0)
			{
				<div class="color-yellow tag-box">
					@Html.DisplayFor(m => m.CompanyTagList[i].Name)
				</div>
			}
			else if (i == 3 || i == 7 || i == 9)
			{
				<div class="color-red tag-box">
					@Html.DisplayFor(m => m.CompanyTagList[i].Name)
				</div>
			}
			else
			{
				<div class="color-green tag-box">
					@Html.DisplayFor(m => m.CompanyTagList[i].Name)
				</div>
			}
		}
	}

</div>
<h1>@Html.DisplayFor(model => model.CompanyName)</h1>
<di>
	<h2> @Html.DisplayFor(model => model.CityName)</h2>
	<h4>
		Tel: @Html.DisplayFor(model => model.PhoneNumer)

		<a class="color-green white term-box" href='@Url.Action("MessageFromCustomer", "Message", new RouteValueDictionary(  new { idCompany = Model.IdCompany}))'>
			Wyślij wiadomość
		</a>


	</h4>
	<hr />


	<h4>Wolne terminy</h4>
	@Html.Partial("~/Views/Partial/_TermReservation.cshtml", Model.CompanyTermVMList)

	<hr />

	<div class="row">
		<div class="col-md-4">
			<h4>Specjalność</h4>
			<div>@Html.DisplayFor(model => model.Speciality)</div>
		</div>
		<div class="col-md-4">
			<h4>Zakres usług</h4>
			<div>@Html.DisplayFor(model => model.Services)</div>
		</div>
		<div class="col-md-4">
			<h4>Wyceny</h4>
			<div>@Html.DisplayFor(model => model.Pricing)</div>
		</div>
	</div>
	<hr />


	<div class="row row-margin">
		@Html.Partial("~/Views/Partial/_Slider.cshtml", Model.CompanyImageList)
	</div>

	<hr />
	<h2>Opinie:</h2>
	Średnia ocena: <div>@Html.DisplayFor(model => model.AverageRating)</div>


	@for (int i = 0; i < Model.CompanyOpinionList.Count(); i++)
	{
		<div class="row row-margin">
			@Html.Partial("~/Views/Partial/_Opinion.cshtml", Model.CompanyOpinionList[i])
		</div>
	}


	<style>

		.row-margin {
			margin-top: 20px;
		}

		.tag-box {
			border-radius: 6px;
			padding: 4px;
			box-sizing: border-box;
			margin: 0 10px;
		}
	</style>

