@model Ekipa.Models.ViewModel.Company.BasicCompanyInfoListVM

@{
	ViewBag.Title = "SearchView";
}
@if (Model.ListCount > 0)
{
	<h5>Znaleziono: @Model.ListCount</h5>
}
else
{
	<h2>Nie znaleziono firmy, która spełniałaby podane przez Ciebie kryteria. Spróbuj ponownie</h2>
}

@for (int i = 0; i < Model.basicCompanyInfoVMlist.Count(); i++)
{
	<hr />
	<div class="row">

		<div class="col-md-3">
			<a href='@Url.Action("InfoAboutCompany", "PublicCompany", new RouteValueDictionary( new { id = Model.basicCompanyInfoVMlist[i].IdCompany }))'>
				<img class="img-responsive" src="@Url.Content(Model.basicCompanyInfoVMlist[i].CompanyMainImage.Link)" />
			</a>
		</div>
		<div class="col-md-3">
			<h2>
				<a style="color:black" href='@Url.Action("InfoAboutCompany", "PublicCompany", new RouteValueDictionary( new { id = Model.basicCompanyInfoVMlist[i].IdCompany }))'>
				@Html.DisplayFor(model => model.basicCompanyInfoVMlist[i].CompanyName)
				</a>
			</h2>
			<h4>
				Ocena:


				<a class="stars">
					@for (int j = 0; j < Model.basicCompanyInfoVMlist[i].AverageRating; j++)
					{
						<span class="fa fa-star checked"></span>
					}
					@for (int j = 0; j < (5 - Model.basicCompanyInfoVMlist[i].AverageRating); j++)
					{
						<span class="fa fa-star"></span>
					}
					@Model.basicCompanyInfoVMlist[i].AverageRating/5
				</a>
			</h4>
			Liczba opini:@Model.basicCompanyInfoVMlist[i].OpinionsCount
		</div>


		<div class="col-md-3 text-lg-center">

			@for (int j = 0; j < Model.basicCompanyInfoVMlist[i].CompanyTagList.Count(); j++)
			{
				if (j == 0 || j == 2 || j ==5)
				{
					<div class="tag_min-box color-green text-center ">
						@Html.DisplayFor(m => m.basicCompanyInfoVMlist[i].CompanyTagList[j].Name)
					</div>
				}
				else if (j == 1 || j == 3)
				{
					<div class=" tag_min-box color-yellow text-center">
						@Html.DisplayFor(m => m.basicCompanyInfoVMlist[i].CompanyTagList[j].Name)
					</div>
				}
			}
		</div>

		<div class="col-md-3">
			Pierwszy wolny termin:
			<h4>@Html.DisplayFor(model => model.basicCompanyInfoVMlist[i].NearestFreeDate)</h4>
		</div>
	</div>
}
