@model Ekipa.Models.ViewModel.MessageVm

@{
	ViewBag.Title = "SendMessage";
}

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.AddresseeEmail)
	@Html.HiddenFor(model => model.AddresseeName)
	@Html.HiddenFor(model => model.SenderEmail)
	@Html.HiddenFor(model => model.SenderName)
	@Html.HiddenFor(model => model.CustomerId)
	@Html.HiddenFor(model => model.CompanyId)


	<div class="form-horizontal">
		<div class="form-group">

			<div class="col-md-10">
				<h4>Wiadomość do użytkownika: @Model.AddresseeName</h4>

				@Html.TextAreaFor(m => m.Description, new { @class = "form-control", @cols = "20" })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button class="search-button btn my-2 my-sm-0" type="submit">Wyślij</button>
			</div>
		</div>
	</div>
}

<style>

	#Description {
		min-height: 350px;
		max-height: 350px;
		min-width: 70%;
		max-width: 70%;
		outline: none;
		font-family:Georgia;
		font-size:18px;
	}
</style>