@model Ekipa.Models.ViewModel.MessageVm

@{
	ViewBag.Title = "SendMessage";
}

<h2>SendMessage</h2>

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.AddresseeEmail)
	@Html.HiddenFor(model => model.AddresseeName)
	@Html.HiddenFor(model => model.SenderEmail)
	@Html.HiddenFor(model => model.SenderName)
	@Html.HiddenFor(model => model.CustomerId)
	@Html.HiddenFor(model => model.CompanyId)


	<div class="form-horizontal">
		<h4>Wiadomość do użytkownika: @Model.AddresseeName</h4>

		@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button class="search-button btn my-2 my-sm-0" type="submit">Wyślij</button>
			</div>
		</div>
	</div>
}
