@model Ekipa.Models.ViewModel.Company.CompanyImagesVM
@{
	ViewBag.Title = "CompanyImagesList";
	int counter = 0;
}
<h2>Zarządzaj zdjęciami na profilu swojej firmy</h2>
<hr />

@using (Html.BeginForm("CompanyImagesList", "Image", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.ID)

	<div class="row">

		@for (int i = 0; i < Model.ImageList.Count(); i++)
		{
			if (counter != 0 && counter % 3 == 0)
			{
				@:</div>
			<hr />
			@:<div class="row">
			}
				  <div class="col-md-4 pos">
				  	<img class="img-responsive" src="@Url.Content(Model.ImageList[i].Link)" width="100%" height="90%" />
				  	<div class="description-box">@Html.EditorFor(m => m.ImageList[i].Description, "", new { htmlAttributes = new { @class = "form-control select" } })</div>
				  <div class="description-box"> Ustaw jako zdjęcie głowne: @Html.RadioButtonFor(m => m.MainPictureID, Model.ImageList[i].Id.ToString())</div>
				  <a href='@Url.Action("DeleteImage", "Image", new RouteValueDictionary(new { id = Model.ImageList[i].Id}))'>
				  	<img src='@Url.Content("~/Content/Images/delete.png")' />
				  </a>
				  @Html.HiddenFor(model => model.ImageList[i].Id)
				  @Html.HiddenFor(model => model.ImageList[i].Link)
				  </div>
			counter++;

		}
	</div>
	<button class="search-button btn my-2 my-sm-0" type="submit">Zapisz</button>
}