@model IEnumerable<Ekipa.Models.ViewModel.ImageVM>

@{
    ViewBag.Title = "CompanyImagesList";
}

<h2>CompanyImagesList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("CompanyImagesList", "Image", FormMethod.Post))

{
    @Html.AntiForgeryToken()

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainPicture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.EditorFor(m => item.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => item.Description, "", new { @class = "text-danger" })        
        </td>
        <td>
            <img class="img-responsive" src="@Url.Content(item.Link)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainPicture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
    }
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <!-- <input type="submit" value="Save" class="btn btn-default" />-->
        <div id="submitFormImage">wyślij</div>
    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#submitFormImage').on('click', function () {
        $('#editImageList').submit();
    })
</script>